body{
  background: black;
  margin: 0;
  font-family: Georgia , sans-serif;

/*Centering everything */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

/*Main chat container*/
.chat-container{
  width: 500px;
  height: 600px;
  background: black;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
